# Example dict of wol_credentials


wol_credentials = {
    "same_name_as_in_wol_hosts":  {
                "user": "username",
                "pwd":  "secret",
            },
    "other_host_name":  {
                "user": "username",
                "pwd":  "secret",
            },
}
